@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('./assets/fonts/Spectral-Italic-300.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Spectral-Italic-400.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('./assets/fonts/Spectral-Italic-800.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Spectral-Regular-400.ttf') format('truetype');
  }